body {
    margin: 0;
    padding: 0;
    background: #000;
    color: aliceblue;
}

img {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    height: 30rem;
}

.section-container {
    margin: 0 auto;
    width: 90vw;
    max-width: 1170px;
    min-width: 340px;
    padding: 5rem 0;
}

.tabs {
    background: #ffe5e2;
    color: #000;
    border-radius: 0.5rem;
    grid-template-rows: auto 1fr;
}

.btn {
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    background: #b6c9f0;
    cursor: pointer;
    transition: all 0.3s linear;
    letter-spacing: 0.25rem;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btn:nth-child(1) {
    border-top-left-radius: 0.5rem;
}

.btn:nth-child(3) {
    border-top-right-radius: 0.5rem;
}

.btn:hover:not(.live) {
    background-color: darkcyan;
    color: white;
}

.tab-contant {
    padding: 2rem 1.5rem;
}

@media (min-width:992px) {
    .image {
        margin-bottom: 0;
    }

    .section-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

.content {
    display: none;
}

.content.live {
    display: block;
}

.btn.live {
    background: #ffe5e2;
}